.profile_image img {
  object-fit: cover;
}

.icons {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.icons:hover {
  scale: 1.2;
}

/* 달력 평일, 토요일, 일요일 색상 변경 */
.fc-day-sun a {
  color: #ff4d4f;
}

.fc-day-sat a {
  color: #69b1ff;
}

.fc-day-mon a,
.fc-day-tue a,
.fc-day-wed a,
.fc-day-thu a,
.fc-day-fri a {
  color: #595959;
}

.fc-day {
  font-weight: bold;
}

.myScheduleRow {
  font-size: 10px;
}

.ant-table-wrapper .ant-table-thead > tr > th {
  text-align: center;
}

.sider {
  display: none;
}
@media screen and (min-width: 1000px) {
  .sider {
    display: block;
  }
}
